<%- include("header", {
    pageTitle: "About Us"
}) -%>
<h2>About Me Page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet iure nesciunt itaque molestias accusamus excepturi, mollitia aperiam sequi? Maxime laborum aut reprehenderit impedit fugit optio, mollitia in et vitae aliquid.s</p>
<%- include("footer") -%>